#
# OpenSSL dpdk_engine Configuration File
#

# This definition stops the following lines choking if HOME isn't
# defined.
HOME                    = .

openssl_conf = openssl_init

[ openssl_init ]
engines = engine_section

[ eal_params_section ]
eal_params_common = "E_DPDKCPT --socket-mem=500 -d librte_mempool_ring.so -d librte_crypto_cnxk.so"
eal_params_cptpf_dbdf = "0002:20:00.0"

[ engine_section ]
dpdk_engine = dpdkcpt_engine_section

[ dpdkcpt_engine_section ]
dynamic_path =  /usr/local/lib/engines-1.1/dpdk_engine.so
eal_params = $eal_params_section::eal_params_common

# Append process id to dpdk file prefix, turn on to avoid sharing hugepages/VF with other processes
# If setting to no, manually add --file-prefix <name> to eal_params
eal_pid_in_fileprefix = yes

# Append -l <sched_getcpu()> to eal_params
# If setting to no, manually add -l <lcore list> to eal_params
eal_core_by_cpu = yes

# Choose CPT VF automatically based on core number
# replaces dd.f (device and function) in below PCI ID based on sched_getcpu
eal_cptvf_by_cpu = $eal_params_section::eal_params_cptpf_dbdf

cptvf_queues = {{0, 0}}
#engine_alg_support = SYM
engine_alg_support = ALL

# Crypto device to use
# For cn10k, use crypto_cn10k
crypto_driver = "crypto_cn10k"
engine_log_level = ENG_LOG_INFO
init=1
